.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
  }
  
  .logo {
    width: 60px; /* Adjust size */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
  }

 
  
  .header__search {
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    width: 600px;
  }
  
  .header__search-input {
    border: none;
    outline: none;
    background: none;
    margin-left: 5px;
  }
  .header__search-icon {
    color: #999; /* Make sure the icon has a visible color */
    font-size: 20px; /* Adjust the size of the icon */
    margin-right: 10px; /* Spacing between icon and input */
  }

  .bt{
    border: 1px solid green;
    border-radius: 4px;
    display: inline;
    text-decoration: none;
    background-color: #999;
  }